.env
*.txt
*.json
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
src/.ipynb_checkpoints/user_generator_notebook-checkpoint.ipynb
src/Digraph.gv.pdf
src/Digraph.gv
src/png
src/png.pdf
src/Source.gv
src/Source.gv.pdf
src/outputs/*
